<div class="section">
    <div class="container">
        <div class="column is-4 is-offset-4">
            <h3 class="title has-text-centered">
                Sign in
            </h3>
            
            <form action="#" method="post">
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" type="text" name="email" placeholder="e.g alex@codecourse.com">
                    </div>
                </div>
                
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" name="password">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" name="persist">
                            Keep me signed in
                        </label>
                    </div>
                </div>

                <div class="control">
                    <button type="submit" class="button is-info">
                        Sign in
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>